// Base
$white: white;

// Border
$border-light: #DBDBDB;

// Neutral
$neutral-50: #F2F2F2;
$neutral-100: #E5E5E5;
$neutral-200: #CCCCCC;
$neutral-300: #B3B3B3;
$neutral-400: #999999;
$neutral-500: #808080;
$neutral-600: #666666;
$neutral-700: #4D4D4D;
$neutral-800: #333333;
$neutral-900: #1A1A1A;

// Theme
$blue-main: #329CC5;
$blue-dark: #225378;

// Old Purple
$purple-700: #6B2A86;

// Gradient
$gradient-blue: linear-gradient(90deg, #1B89B4 0%, #65C6EC 100%);
$gradient-purple: linear-gradient(90deg, #500C80 0%, #654CBA 100%);
$gradient-duocolor: linear-gradient(90deg, #5E32BA 0.52%, #1B89B4 100%);

// State
$info: #46AAED;
$hover: #B3B6C7;
$active: #46AAED;
$error: #DA224E;
$danger: #D9611E;
$success: #3BB427;
$locked: #728E9E;

// State
$backdrop: rgba(0,0,0,0.4);