body {
}
* {
    font-family: 'Ubuntu', sans-serif;
}
h1, .h1 ,h2, .h2 ,h3, .h3 ,h4, .h4 ,h5, .h5, h6, .h6 {
    font-weight: 700;
    color: $neutral-600;
}

h1, .h1 {
    font-size: 32px;
    font-weight: 500;
}
h2, .h2 {
    font-size: 28px;
    font-weight: 600;
}
h3, .h3 {
    font-size: 24px;
    font-weight: 500;
}
h4, .h4 {
    font-size: 21px;
    font-weight: 500;
}
h5, .h5 {
    font-size: 18px;
    font-weight: 500;
}
h6, .h6 {
    font-size: 16px;
    font-weight: 600;
}

small, .small {
    font-size: 12px;
}